
.fa-spin-hover {
    animation: fa-spin 1s infinite linear;
}
@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}

.createForm {
    display: block;
    position: relative;
}
.createForm .preloader {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 99;
    background: rgba(255,255,255,1);
    text-align: center;
}

.createForm .preloader img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 64px;
    width: 64px;
    margin-top: -32px;
    margin-left: -32px;
}

